NODE_ENV=development
PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ttime_dev
DB_USER=ttime
DB_PASSWORD=ttime_dev
JWT_SECRET=
JWT_ADMIN_SECRET=
COOLSMS_API_KEY=
COOLSMS_API_SECRET=
COOLSMS_SENDER_NUMBER=
